// Maintain colors here

$colorBackground: #242424;
$colorText: #fefefe;
$colorHeader: #141414;
$colorHeaderText: #fefefe;
$colorAnchor: #646cff;
$colorAnchorHover: #535bf2;
$colorCardBackground: #494949;
$colorCardText: #fefefe;
$colorAlternateBackground: #fefefe;
$colorAlternateText: #141414;
